.site{
    color: $fontColor;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

.site-header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .site-branding {
        margin-top: 30px;
        margin-left: 10px;
        margin-right: 10px;
        a{
        color: $fontColor;
        text-decoration: none;
        font-weight: 500;
        font-family: $myFont;

        }
    }

    .main-navigation{
        display: flex;
       flex-direction: column;
    
        .menu-toggle{
            background: none;
            border: none;
            position: absolute;
            top: $spacer;
            right: 0;
        }
        a{
            margin-left: $spacer*2;
            color: $fontColor;
            text-decoration: none;
            font-size: 20px;
            &:hover{
                text-decoration: underline;
            }

        }
    }
}

.site-main{
    a{
        color: $myRed;
        font-weight: $bold;
    }
}
.site-footer{
    p{
        font-size: $spacer;
        margin: 80px;
    }
    a{
        color: $myRed;
        font-weight: $bold;
        margin-left: $spacer;
    }
}



//Typografi
h1{
font-size: 53px;
line-height: 120%;
font-family: $myFont;
margin: 120px;
}

h2{
    margin-bottom: $spacer;
    font-family: $myFont;
    font-size: 40px;
}

p{
    font-family: $myFont;
    font-size: 22px;
}



input{
    height: 50px;
}


@media screen and (min-width:600px){
    .site-header{
        flex-direction: row;
        justify-content: space-between;
    
    .main-navigation{
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        a{
            margin-left: $spacer*2;
            color: $fontColor;
            text-decoration: none;

        }
    }   
}
}

.required{
    &::after{
    content: "*";
    color: $myRed;
    }
}